graft src

include AUTHORS
include LICENSE
include pyproject.toml
include README.rst
include requirements.txt
include requirements-*.txt

include *.in

exclude .flake8
exclude .pre-commit-config.yaml

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .*.swp
